body {
    background: rgb(65, 79, 89);
  }

.slide {
  background: #rgb(236, 240, 241);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* color: rgb(57, 71, 80); */
  color: rgb(78, 91, 101);
}

.content.big {
  font-size: 260%;
}

.content.smallest {
  font-size: 40%;
}

ul {
  list-style-type: disc;
}
